.content_insertQuiz {
	width: 1100px;
	height: 1230px;
	background-color: white;
	margin:0 auto;
	border-radius: 7px;
	margin-top: 20px;
}

.insertQuiz_form {
	position: relative;
	width: 1000px;
	height: 1210px;
	/*background-color: rgb(255, 181, 218);*/
	margin:0 auto;
	padding-top: 20px;
}

.quiz_qna {
	position: relative;
	width: 910px;
	height: 970px;
	/*background-color: rgb(255, 181, 218);*/
	margin-left: 20px;
}

h1 {
	position: relative;
	top: 10px;
	left: 25px;
	letter-spacing:2px;
	color: rgb(70, 70, 70);
	margin: 0;
}

hr {
	width: 1000px;	
}

textarea {
	position: relative;
	width: 697px;
	height: 100px;
	left: 56px;
	margin-bottom: 7px;
	font-size: 23px;
	resize: none;
	font-family: 'Arial', sans-serif;
}

input {
	position: relative;
	width: 696px;
	height: 35px;
	margin-bottom: 35px;
	font-size: 23px;
	left: 40px;
}

input[id="quizTitle"] {
	position: relative;
	width: 790px;
	height: 35px;
	margin-bottom: 15px;
	font-size: 23px;
	left: 40px;
}

label {
	position: relative;
	font-size: 24px;
	left: 30px;
	letter-spacing:2px;
}

label[for="quizQuestion1"],
label[for="quizQuestion2"],
label[for="quizQuestion3"],
label[for="quizQuestion4"],
label[for="quizQuestion5"]
{
	position: relative;
	left: 35px;
	top: -88px;
	font-size: 23px;
}

label[for="quizAnswer1"],
label[for="quizAnswer2"],
label[for="quizAnswer3"],
label[for="quizAnswer4"],
label[for="quizAnswer5"]
{
	letter-spacing:5px;
	margin-left: 31px;
	margin-right: 4px;
}

button {
	position: absolute;
	width: 140px;
	height: 40px;
	right: 0;
	bottom: 15px;
	background-color: rgb(111, 198, 255);
	color: white;
	border: none;
	font-size: 23px;
	letter-spacing:3px;
	border-radius: 5px;
}
