<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel="stylesheet" type="text/css" th:href="@{/../css/index.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	
</head>
<body>
	<div class="top">
		<a href="/"><img src="/img/플레이퀴즈 로고.png" alt="Play Quiz!" class="logo"></a>
		<!--
		<div class="search">
			<input type="text" id="search_bar" placeholder=" 찾는 퀴즈를 입력하세요">
			<div class="search_icon">
				<i class="fas fa-search"></i>
			</div>
		</div>
		-->
		<b><a th:if="${session.user == null}" class="a_login" href="login">로그인</a></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b><a th:if="${session.user != null}" class="a_logout" href="logout">로그아웃</a></b>&nbsp;&nbsp;&nbsp;&nbsp;
		<b><a th:if="${session.user == null}" class="a_signup" href="signup">회원가입</a></b>
	</div>
	
	<div class="plus">
		<h3>퀴즈 만들기</h3>
		<a th:if="${session.user == null}" href="login"><p class="create_quiz">+</p></a>
		<a th:if="${session.user != null}" href="insertQuiz"><p class="create_quiz">+</p></a>
	</div>
	    

	<div class="content">
		<center>
			<div class="content_table">
				<table border="1"cellpadding =0 cellspacing="0">
					<tr>
						<th width=65 height="33">번호</th>
						<th width=660>제목</th>
						<th width=185>작성자</th>
						<th width=210>등록일</th>
					</tr>
					<tr th:each="quizName, state:${quizNameList}">
						<td th:text="${quizName.id}"></td>
						<td>
							<a th:href="@{/getQuiz(quizName.id=${quizName.id})}" th:text="${quizName.title}"></a>
						</td>  
						<td th:text="${quizName.user_id}"></td>
						<td th:text="${#dates.format(quizName.createDate,'yyyy-MM-dd')}"></td>
	            	</tr>     
	        	</table>
	        </div>
        </center>
	</div>
	<div class="footer">
			
	</div>
</body>
</html>