<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" href="/css/style.css"><head>
	    <meta charset="UTF-8">
		<title>Play Quiz!</title>	
		<script>
			function showNotification() {
				alert("퀴즈 생성이 완료되었습니다.");
				// 생성 완료 후 index 페이지로 이동
				window.location.href = "/index2";
			}
		</script>
	</head>
	<body>
		<div class="header">
			<a href="index"><img src="/img/플레이퀴즈 로고.png" alt="Play Quiz!"></a>
			<form action="/search" method="get">
				<input type="search" name="searchbar_text" placeholder="찾는 퀴즈를 입력하세요">
				<button type="submit">검색</button>
			</form>
		<div>
			<b><a th:if="${session.user != null}" class="login" href="logout">로그아웃</a></b>&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
		</div>
		<div class="content">
			<center>
		
		<form action="insertQuiz" method="post" enctype="multipart/form-data">
		    <label for="quizTitle">퀴즈 제목: </label>
    		<input type="text" id="quizTitle" name="quizname" required><br>

		    <!-- 5문제 입력 -->	
		    <label for="quizQuestion1">1 퀴즈 문제: </label>
		    <textarea id="quizQuestion1" name="quizList[0]" rows="4" required></textarea><br>
		    <label for="quizAnswer1">퀴즈 정답: </label>
		    <input type="text" id="quizAnswer1" name="answerList[0]" required><br>
		
		    <!-- 2~5번째 문제, 정답 입력 (반복) -->
		    <label for="quizQuestion2">2 퀴즈 문제: </label>
		    <textarea id="quizQuestion2" name="quizList[0]" rows="4" required></textarea><br>
		    <label for="quizAnswer2">퀴즈 정답: </label>
		    <input type="text" id="quizAnswer2" name="answerList[0]" required><br>
		    
		    <label for="quizQuestion3">3 퀴즈 문제: </label>
		    <textarea id="quizQuestion3" name="quizList[0]" rows="4" required></textarea><br>
		    <label for="quizAnswer3">퀴즈 정답: </label>
		    <input type="text" id="quizAnswer3" name="answerList[0]" required><br>
		    
		    <label for="quizQuestion4">4 퀴즈 문제: </label>
		    <textarea id="quizQuestion4" name="quizList[0]" rows="4" required></textarea><br>
		    <label for="quizAnswer4">퀴즈 정답: </label>
		    <input type="text" id="quizAnswer4" name="answerList[0]" required><br>
		    
		    <label for="quizQuestion5">5 퀴즈 문제: </label>
		    <textarea id="quizQuestion5" name="quizList[0]" rows="4" required></textarea><br>
		    <label for="quizAnswer5">퀴즈 정답: </label>
		    <input type="text" id="quizAnswer5" name="answerList[0]" required><br>
		    <!-- ... -->


    <button type="submit">퀴즈 생성</button>
</form>
        </center>
		</div>
		<div class="footer">
			
		</div>
	</body>
</html>
